.crias{
    text-align:center;
    font-size: 50pt;
}
.conteiner{
    display:block;
    width:80%;
    height:90%;
    position:absolute;
    transform:translatex(-50%);
    left: 50%;
    background-color:aquamarine;
}